div, ul {
    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #676d73;
    }

    &::-webkit-scrollbar-track, 
    &::-webkit-scrollbar-track-piece {
        background-color: #e5e7e8;
    }
}

input {
    border: 1px solid var(--colorGrey3);
    background: var(--colorPrimary2);
    color: var(--colorPrimary1);
    padding: 9px 10px 9px 12px;
    height: 48px;
    transition: all ease .2s;

    &[type=text] {
        &:focus {
            & + .focus-border {
                &:before, &:after {
                    width: 100%;
                    transition: 0.3s;
                }
    
                i {
                    &:before , &:after {
                        height: 100%;
                        transition: 0.4s;
                    }
                }
            }
        }
    }

    &[type=checkbox], &[type=radio] {
        &:disabled {
            & + label {
                .check-box-item {
                    background-color: #F6F6F5;
                }
            }
        }
    }

    &:disabled {
        color: #959595;
        background: #F6F6F5;
        border: 1px solid #ccc;
        
        & + label {
            .check-box-txt {
                color: #959595;
            }
        }
    }

    &.lg {
        padding: 9px 10px 9px 12px;
    }

    &.md {
        padding: 5px 10px 5px 12px;
        height: 40px;
    }

    &.sm {
        padding: 0 10px 0 12px;
        height: 32px;
        font-size: var(--font-sm);
    }
}

.input {
    &-search {
        position: relative;

        input {
            padding: 9px 40px 9px 12px;
        }

        .btn-search {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url('/public/images/icon/icon_search.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px auto;
            background-color: #fff;
            border: 0;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }

        .btn-close {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url('/public/assets/images/icon/icon_circle_close.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px auto;
            background-color: #fff;
            border: 0;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/public/images/icon/icon_arrow_down.png');
    background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--colorGrey3);
    min-height: 32px;
    height: 48px;
    padding: 0 40px 0 12px;
    transition: all ease .2s;
    color: var(--colorPrimary1);

    &:focus {
        & + .focus-border {
            &:before, &:after {
                width: 100%;
                transition: 0.3s;
            }

            i {
                &:before , &:after {
                    height: 100%;
                    transition: 0.4s;
                }
            }
        }
    }

    &:disabled {
        color: #959595;
        background-color: #F6F6F5;
        border: 1px solid var(--colorGrey3);
    }

    option {
        border: 1px solid var(--colorGrey3);
        border-radius: 4px;
        background: var(--colorPrimary2);

        &.lg {
            padding: 9px 40px 9px 12px;
        }

        &.md {
            padding: 5px 40px 5px 12px;
            height: 40px;
        }

        &.sm {
            padding: 0 40px 0 12px;
            height: 32px;
            font-size: var(--font-sm);
        }
    }

    &.lg {
        padding: 9px 10px 9px 12px;
    }

    &.md {
        padding: 5px 10px 5px 12px;
        height: 40px;
    }

    &.sm {
        padding: 0 10px 0 12px;
        height: 32px;
        font-size: var(--font-sm);
    }
}

.select-list {
    input {
        cursor: pointer;
        height: 0;
        opacity: 0;
        position: absolute;
        left: 0;
        width: 0;
    }
}

.check-box,  .radio-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &[type=checkbox] {
            &:checked {
                & + label {
                    .check-box-item {
                        border-color: var(--colorPrimary1);
                        background-color: var(--colorPrimary1);
                        transition: all .3s ease;
    
                        .item-line {
                            &:before {
                                transition: all .15s ease;
                                background: var(--colorPrimary2);
                            }
    
                            &:after {
                                transition: all .15s ease .15s;
                                background: var(--colorPrimary2);
                            }
                        }
                    }
                }
            }

            & + label {
                position: relative;
                display: inline-block;
                min-height: 16px;
                padding-left: 16px;
                cursor: pointer;
    
                .check-box-item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    vertical-align: middle;
                    width: 16px;
                    height: 16px;
                    background: #fff;
                    border: 2px solid #959595;
                    border-radius: 4px;

                    &:hover {
                        .item-blur {
                            &:before {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }

                    .item-blur {
                        z-index: -1;

                        &:before {
                            content: '';
                            display: block;
                            width: 24px;
                            height: 24px;
                            border-radius: 4px;
                            background: rgba(0, 0, 0, 0.2);
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            transition: all ease .2s;
                        }
                    }
    
                    &:before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 2px;
                        height: 0;
                        background: #e8e8e8;
                        z-index: 1;
                    }
    
                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 2px;
                        height: 0;
                        background: #e8e8e8;
                        z-index: 1;
                    }
    
                    .item-line {
                        &:before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            width: 2px;
                            z-index: 2;
                            top: 5px;
                            left: 5px;
                            height: 6px;
                            border-radius: 3px 3px 0 0;
                            transform: rotate(-45deg);
                            transform-origin: left bottom;
                        }
    
                        &:after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            width: 2px;
                            z-index: 2;
                            top: 11px;
                            left: 5px;
                            height: 10px;
                            border-radius: 0 0 3px 3px;
                            transform: rotate(-135deg);
                            transform-origin: left top;
                        }
                    }
                }
    
                .check-box-txt {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    line-height: 16px;
                }
            }
        }

        &[type=radio] {
            &:checked {
                & + label {
                    .check-box-item {
                        &:before {
                            background: #000;
                        }

                        &:after {
                            transform: translate(-50%,-50%) scale(1);
                            transition: transform 0.2s ease;
                        }
                    }
                }
            }

            & + label {
                position: relative;
                display: inline-block;
                min-height: 16px;
                padding-left: 16px;
                cursor: pointer;
    
                .check-box-item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    vertical-align: middle;
                    width: 16px;
                    height: 16px;
                    background: #fff;
                    border: 1px solid var(--colorGrey3);
                    border-radius: 50%;
                    transition: all ease .2s;

                    &:hover {
                        .item-blur {
                            &:before {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }

                    .item-blur {
                        position: relative;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;

                        &:before {
                            content: '';
                            display: block;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background: rgba(0, 0, 0, 0.2);
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            transition: all ease .2s;
                        }
                    }
    
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%) scale(0);
                        display: block;
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        border-radius: 50%;
                        z-index: 1;
                    }
                }
    
                .check-box-txt {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    line-height: 16px;
                }
            }
        }
    }
}

.form-list {
    position: relative;
    display: inline-block;

    input {
        cursor: default;  
    }

    img {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        transition: all ease .2s;
        height: 24px;

        &.is-active {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    input[type=text] {
        &.is-active {
            & + img {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    .select-list {
        background: var(--colorPrimary2);
        border-left: 1px solid var(--colorGrey3);
        border-right: 1px solid var(--colorGrey3);
        border-bottom: 1px solid var(--colorGrey3);
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
        max-height: 195px;

        &-item {
            width: 100%;
            height: 55px;

            .select-item {
                position: relative;
                display: inline-flex;
                align-items: center;
                padding: 0 12px;
                width: 100%;
                height: 100%;

                input {
                    padding: 0 12px;
                    width: 100%;
                    height: 100%;
                }
            }

            &:hover {
                background: var(--colorGrey1);
            }
        }
    }
}

button, a {
    border: 0;
    background: none;
    cursor: pointer;

    &[class*=btn-lg-] {
        height: 64px;
        line-height: 62px;
        min-width: 152px;
        margin-right: 10px;
        padding: 0 24px;
        background: #000;
        color: #fff;
        overflow: hidden;
        z-index: 0;
        position: relative;

        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &[class*=btn-md-] {
        height: 56px;
        line-height: 54px;
        min-width: 152px;
        margin-right: 10px;
        padding: 0 24px;
        background: #000;
        color: #fff;
        overflow: hidden;
        z-index: 0;
        position: relative;

        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &[class*=btn-sm-] {
        height: 48px;
        line-height: 46px;
        min-width: 152px;
        margin-right: 10px;
        padding: 0 24px;
        background: #000;
        color: #fff;
        overflow: hidden;
        z-index: 0;
        position: relative;

        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }
        }
    } 

    &[class*=btn-lg-fill], &[class*=btn-md-fill], &[class*=btn-sm-fill] {
        &:before {
            border-radius: 50%;
            content: "";
            height: 200%;
            left: -20%;
            opacity: 0;
            background: #35383b;
            position: absolute;
            top: -50%;
            transform: scale(0);
            transform-origin: bottom left;
            transition: all .4s;
            width: 150%;
            z-index: -1;
        }
    }

    &[class*=btn-lg-line], &[class*=btn-md-line], &[class*=btn-sm-line] {
        background: #fff;
        border: 1px solid #000;
        color: #000;

        &:hover {
            color: #fff;
        }

        &:before {
            border-radius: 50%;
            content: "";
            height: 200%;
            left: -20%;
            opacity: 0;
            background: #000;
            position: absolute;
            top: -50%;
            transform: scale(0);
            transform-origin: bottom left;
            transition: all .4s;
            width: 150%;
            z-index: -1;
        }
    }
}

.btn {
    &-next {
        width: 56px;
        height: 56px;
        border: 1px solid #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }

            svg > path {
                fill: #fff;
            }
        }

        &:before {
            border-radius: 50%;
            content: "";
            height: 200%;
            left: -20%;
            opacity: 0;
            background: #000;
            position: absolute;
            top: -50%;
            transform: scale(0);
            transform-origin: bottom left;
            transition: all .4s;
            width: 150%;
            z-index: -1;
        }
    }

    &-play {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 1px solid #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }

            svg > path {
                fill: #fff;
            }
        }

        &:before {
            border-radius: 50%;
            content: "";
            height: 200%;
            left: -20%;
            opacity: 0;
            background: #000;
            position: absolute;
            top: -50%;
            transform: scale(0);
            transform-origin: bottom left;
            transition: all .4s;
            width: 150%;
            z-index: -1;
        }
    }
}

table {
    thead {
        border-top: 2px solid var(--colorGrey8);
        border-bottom: 1px solid var(--colorGrey2);
        background: var(--colorGrey1);

        tr {
            th {
                padding: 12px 24px;
                text-align: center;
                height: 52px;
                font-size: 14px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 12px 24px;
                text-align: center;
                height: 52px;
                font-size: 14px;
                border-bottom: 1px solid var(--colorGrey2);

                &:hover {
                    background: var(--colorGrey1);
                }
            }
        }
    }

    &.is-mob {
        tbody {
            border-top: 2px solid var(--colorGrey8);

            tr {
                td {
                    text-align: left;

                    .tit {
                        font-size: var(--font-lg);
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .sub {
                        font-size: var(--font-base);
                    }
                }
            }
        }
    }
}

.gnb {
    display: flex;
    align-items: center;

    .gnb-list {
        position: relative;
        padding-right: 14px;
        margin-right: 9px;

        &:last-child {
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            background: url('/public/images/icon/icon_arrow_right.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 5px;
            height: 8px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &-link {
            color: var(--colorGrey5);
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.pagination {
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &-wrap {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & > .pagination-container-list {
                .paginate-buttons {
                    &:hover {
                        background: #eaeaea;
        
                        &:after {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        &-list {
            width: 40px;
            height: 40px;
        }

        &-highlight {
            display: block;
            width: calc(100% / 10);
            background: #000;
            height: 2px;
            position: absolute;
            bottom: 0;
            transition: left ease 0.2s;
        }

        .paginate-buttons {
            width: 100%;
            height: 100%;
            font-size: 16px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            z-index: 0;
            transition: all ease .2s;
            color: #676D73;
            position: relative;

            &:hover {
                background: #eaeaea;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                transform: scale(0);
                transition: all ease .2s;
                z-index: 1;
            }

            &.active {
                color: #000;

                &:after {
                    transform: scale(1);
                }
            }
        }

        img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.tab {
    display: flex;
    align-items: center;

    &.type01 {
        display: inline-flex;
        align-items: center;
        height: 48px;
        position: relative;
        font-size: 15px;

        .tab-highlight {
            display: block;
            width: calc(100% / 3); // 기본은 3분의1
            background: #000;
            height: 2px;
            position: absolute;
            bottom: 0;
            transition: left ease 0.2s;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #ccc;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .tab-list {
            height: 100%;
            padding: 12px 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            color: #5A5A5A;
            z-index: 0;

            &.is-active {
                color: #000;
                font-weight: 700;

                &:before {
                    transform: translateX(-50%) scale(1);
                    background: #000;
                }
            }
        }
    }

    &.type02 {
        height: 64px;
        gap: 15px;
        display: flex;
    
        .tab-list {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--colorGrey3);
            flex: 1;
            background: #fff;
            color: var(--colorGrey6);
            cursor: pointer;
            position: relative;
            overflow: hidden;
            z-index: 0;
            transition: color 0.3s ease;
    

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--colorPrimary1);
                z-index: -1;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
    
            &.is-active {
                color: #fff;
                font-weight: 700;

                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }

    &-cont {
        padding: 20px 0 0 0;
    }
}

.input-form {
    min-height: 32px;

    &.lg {
        height: 48px;
    }

    &.md {
        height: 40px;
    }

    &.sm {
        height: 32px;
    }

    input, button {
        height: 100%;
    }

    button {
        line-height: initial;
    }

    &.success, &.error {
        position: relative;

        .icon {
            display: inline-block;
            background-size: 24px auto;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.success {
        input {
            border:  1px solid #00B34A;
        }

        i {
            &:before, &:after {
                background-color: #00B34A;
            }
        }

        .focus-border {
            &:before, &:after {
                background-color: #00B34A;
            }
        }

        .icon {
            background-image: url('/public/images/icon/icon_done.png'); 
        }
    }
    
    &.error {
        input {
            border:  1px solid #ef2b49;
        }

        i {
            &:before, &:after {
                background-color: #ef2b49;
            }
        }

        .focus-border {
            &:before, &:after {
                background-color: #ef2b49;
            }
        }

        .icon {
            background-image: url('/public/images/icon/icon_error.png'); 
        }
    }
}

.input-text, .select-default {
    position: relative;
    display: inline-block;
    height: 100%;
}

.input-custom {
    &.is-active {
        & + img {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.focus-border {
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: 0.3s;
    }

    &:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }

    i {
  

        &:before, &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 0;
            background-color: #000;
            transition: 0.4s;
        }

        &:after {
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
        }
    }
}

.toast-modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 46px;
    border-radius: 8px;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    line-height: 1.2;
    box-shadow: 0 3px 10px 0 rgba(16,11,2,0.08);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}