.publish-guide {
    font-family: 'Montserrat';

    .progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: 4px;
        background-color: var(--colorIndic1);
        transition: width 0.2s ease-out;
        z-index: 9999;
      }
    
    .top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 54px;
        background: #010409;
        color: var(--colorPrimary2);
        border-bottom: 1px solid #3d444d;
        padding: 50px 100px;
        z-index: 3;

        a {
            img {
                height: 50px;
            }
        }

        p {
            font-size: 24px;
        }
    }

    nav {
        position: fixed;
        top: 125px;
        left: 0;
        width: 200px;
        height: calc(100vh - 60px);
        padding: 50px 30px;
        border-right: 1px solid #3d444d;
        background: #0d1117;
        color: var(--colorPrimary2);
        transition: all ease .2s;

        &.is-active {
            left: -150px;

            & + main {
                margin: 125px 0 0 50px;
            }
        }

        .btn-menu {
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
        }

        dt {
            font-size: 20px;
            font-weight: 600;
        }

        dd {
            margin-bottom: 20px;
            cursor: pointer;
            position: relative;
            padding-left: 12px;

            a {
                overflow: hidden;
                z-index: 0;
                position: relative;

                &:after {
                    content: '';
                    display: inline-block;
                    background: var(--colorPrimary2);
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    transition: all .2s;
                }

                &.is-active {
                    color: var(--colorIndic1);

                    &:after {
                        background: var(--colorIndic1);
                    }
                }
    
                &:hover, &.is-active {
                    font-weight: 600;

                    &:after {
                        transform: scale(1);
                    }
                }
            }

            &:before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: var(--colorPrimary2);
            }
        }

        dl {
            & + dl {
                margin-top: 50px;
            }
        }
    }

    main {
        margin: 125px 0 0 200px;
        padding: 50px;
        transition: all ease .2s;


        .title {
            margin-bottom: 40px;
            font-size: 50px;
            position: relative;
            z-index: 0;

            &:before {
                content: '';
                display: block;
                width: 35px;
                height: 35px;
                background: var(--colorIndic1);
                border-radius: 50%;
                position: absolute;
                left: -10px;
                top: -10px;
                z-index: -1;
                transition: all ease .2s;
            }
        }

        .container {
            margin-top: 120px;
            border-top: 1px solid var(--colorPrimary2);

            &:first-child {
                margin: 0;
                padding: 0;
                border: 0;
            }

            .cont {
                & + .cont {
                    margin-top: 100px;
                }

                .desc {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px dashed #ccc;
                    font-size: 20px;
                    font-weight: 600;
                }

                .color {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    &-list {
                        &-item {
                            width: 151px;
                            height: 114px;
                            background: var(--colorPrimary2);
                            border: 1px solid var(--colorPrimary1);
                            color: #333;
                            overflow: hidden;
                            cursor: pointer;
                            transition: all ease .2s;

                            &:hover {
                                transform: scale(1.1);
                            }
    
                            div {
                                height: 77px;
                            }
    
                            p {
                                font-size: 14px;
                                font-weight: 600;
                                width: 100%;
                                height: 37px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: flex-end;
                                padding: 0 14px;
                            }
                        }

                        &-sub {
                            position: absolute;
                            padding-left: 10px;
                            margin-top: 15px;
                            max-width: 145px;
                            line-height: 1.3;
                            font-weight: 500;

                            &:before {
                                content: "";
                                display: inline-block;
                                width: 2px;
                                height: 2px;
                                border-radius: 50%;
                                position: absolute;
                                left: 0;
                                top: 8px;
                                background: var(--colorPrimary1);
                            }
                        }
                    }
                }

                .font {
                    &-list {
                        line-height: 1.5;
                        margin: 0;
                        font-size: 28px;
                    }
                }
                
                .icons {
                    margin-bottom: 50px;
                    line-height: 1.8;

                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }

                    ul {
                        display: flex;
                        gap: 20px;
                        margin-top: 20px;
                        flex-wrap: wrap;

                        li {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 70px;
                            min-width: 70px;
                            height: 70px;
                            box-shadow: 0 3px 5px 1px rgba(0,0,0,.06);
                            cursor: pointer;
                            transition: all ease .2s;
                            background: var(--colorPrimary2);
                            z-index: 0;

                            &:hover {
                                background: var(--colorIndic1);
                                transform: scale(1.1);
                            }

                            img {
                                height: 35px;
                            }
                        }
                    }
                }

                .forms {
                    &-list {
                        display: flex;
                        align-items: center;
                        line-height: 1.8;
                        margin-bottom: 20px;

                        &-row {
                            display: inline-block;
                            margin-right: 20px;
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .checkbox, .radiobox {
                    &-list {
                        display: inline-block;
                        margin-right: 20px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .buttons {
                    &-list {
                         margin-bottom: 20px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .btn-top {
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 60px;
        height: 60px;
        background: var(--colorPrimary2);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all ease .2s;
        z-index: 1;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.16);
        overflow: hidden;

        &:before {
            border-radius: 50%;
            content: "";
            height: 200%;
            left: -20%;
            opacity: 0;
            background: var(--colorPrimary1);
            position: absolute;
            top: -50%;
            transform: scale(0);
            transform-origin: bottom left;
            transition: all 0.4s;
            width: 150%;
            z-index: -1;
        }
        

        &:hover {
            svg {
                &::v-deep(path) {
                    fill: var(--colorPrimary2);
                }
            }

            &:before {
                opacity: 1;
                transform: scale(1);
            }
        }

        svg {
            transform: rotate(-90deg);
        }
    }
}